@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

html, body, h1
{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Aboreto', cursive;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url(fundoRomantico.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1{
    font-size: 40px;
    color: red;
    text-align: center;
    padding: 50px 10px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
.container-button{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 30px;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(252, 2, 2);
    border: 1px #f50c18;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
}
  
button:hover {
    background-color: #fa0f7c;
    box-shadow: 0px 15px 20px rgba(240, 93, 124, 0.719);
    color: #fff;
    transform: translateY(-7px);
}
  
button:active {
    transform: translateY(-1px);
}

#botao {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* #botao2 {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
} */

/* animação coração */

.heart {
    width: 200px;
    height: 200px;
    position: relative;
    transform: rotate(-135deg);
    margin: 100px auto;
    animation: pulse 1s infinite alternate
  }
  
.square {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #e74c3c;
}
  
.circle {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    position: absolute;
    background-color: #e74c3c;
}
  
.top {
    top: 50%;
}
  
.left {
    left: 50%
}
  
@keyframes pulse {
    0% {transform: scale(0.9) rotate(-135deg);}
    100% {transform: scale(1.1) rotate(-135deg);}
}